<!DOCTYPE html>
<html>
  <head>
    <title>Here is your story:</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  <p>"Today I went to the zoo. I saw a @Model.GetAdjective()
@Model.GetNoun() jumping up and down in its tree. He
@Model.GetVerb() @Model.GetAdverb() through
the large tunnel that led to its @Model.GetAdjective()
@Model.GetNoun(). I got some peanuts and passed them
through the cage to a gigantic gray @Model.GetNoun()
towering above my head. Feeding that animal made me
hungry. I went to get a @Model.GetAdjective() scoop of ice
cream. It filled my stomach. Afterwards I had to
@Model.GetVerb() @Model.GetAdverb() to catch our bus. When
I got home I @Model.GetVerb() my mom for a
@Model.GetAdjective() day at the zoo. "</p>
  </body>
</html>
