<!DOCTYPE html>
<html>
  <head>
    <title>Your Story is Here:</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  <p>Last month, I went to Disney World with @Model.GetName() . We traveled for @Model.GetNumber() by
@Model.GetVehicle().
Finally, we got there and it was very @Model.GetAdjective().
There were @Model.GetAdjective()
people @Model.GetVerb() everywhere. There were also
people dressed up in @Model.GetAnimal() costumes.
 I wish it had been more @Model.GetAdjective(), but we
@Model.GetVerb() anyway. We also went on some
@Model.GetAdjective() rides, called "Magic Noun". Friend's name
nearly fell off a ride and had to be @Model.GetVerb().
Later we went to the hotel and @Model.GetVerb().
 Next year, I want to go to @Model.GetPlace(), where we can
@Model.GetVerb(). </p>
  </body>
</html>
